rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /weather-observations/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /weather-forecasts/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /temperature-evaluation-log/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /{document=**} {
      allow read: if false;
      allow write: if false;
    }
  }
}
